<main class="main-container">
  <header class="page-header">
    <h2 >Editing Treatment Record</h2>
    <%= link_to "Back", pet_treatments_path(@treatment.pet), class: 'pageLink' %>
  </header>
  <div class="page-body">
    <%= render 'form', treatment: @treatment %>
  </div>



<%#= link_to 'Show', @treatment %> |
<%#= link_to 'Back to ' + @treatment.pet.name + ' treatment', pet_treatments_path(@treatment.pet) %>


</main>