<div class="dashboard-container">
  <section class='dashboard-section'>
    <%= linkToMyPets %>
    <%= linkToMyTreatment %>
  </section>
  <section class='dashboard-section'>
    <%= linkToMyAppointments %>
  </section>
</div>
