<main class="main-container">

  <div class='dashboard-section'>
    <%= linkToMyPets %>
    <%= linkToMyTreatment %>
  </div>
  <div class='dashboard-section'>
    <%= linkToMyAppointments %>
  </div>

</main>