<main class="main-container">
  <header class="page-header">
    <h2 >Editing Pet</h2>

    <%= link_to "Back to pets", pets_path(owner: @owner), class: 'pageLink' %>
  </header>
  <div class="page-body">

    <%= render 'form', pet: @pet %>

  </div>
</main>
