<main class="main-container">
  <header class="page-header">
    <% if @owner %>
      <h2 ><%= @owner.fullname + ': New Pet' %></h2>
    <% else %>
      <h2 >New Pet</h2>
    <% end %>

    <%= link_to "Back to pets", pets_path(owner: @owner), class: 'pageLink' %>
  </header>
  <div class="page-body">

    <%= render 'form', pet: @pet %>

  </div>
</main>
