<div class="page-body h100 col-flex-end">
  <div class="home-cover">
    <div class="home-caption">
      Pet Care
    </div>
    <div class="footer-text">
      This application aims for pet owners to track their friends' treatment.<br/> 
      Users have to login to the application and insert information about any number of pets they own.<br/>
      They can record any event of their pets’ lives like vaccinations, illnesses, nutrition, grooming, weight control, everyday hobbies etc.<br/>
      Also, they can schedule appointments with a vet or a groomer.
    </div>
  </div>
</div>
