<div class="home-central">

  <div class='home-page-link-container'>
    <%= linkToMyPets %>
    <%= linkToMyAppointments %>
  </div>
  <div class='home-page-link-container'>
    <%= linkToMyAppointments %>
  </div>

</div>