<main class="main-container">
  <div class="page-body h100 col-flex-end">
    <div class="home-cover">
      <div class="home-caption">
        <%= homeCaption %>
      </div>
      <div class="footer-text">
        <%= bottomMessage %>
      </div>
    </div>
  </div>
</main>