<header class="page-header">
  <h2>Lost animals</h2>
  <%= link_to 'New Lost', new_lost_path %>
</header>
<div class="page-body">
  <% @losts.each do |lost| %>
    <section>
      <div class="petDetails">
        <div class="detailsRow">
          <div class="itemDetail">
            <label>
              <%= 'Reported by: ' + lost.user.fullname %>
            </label>
          </div>
        </div>
        <div class="detailsRow">
          <div class="itemDetail">
            <%= lost.comments %>
          </div>
        </div>
      </div>
        <%#= lost.comments %>
        <%#= lost.user.fullname %>
        <%#= lost.resolved %>
        <%#= link_to 'Show', lost %>
        <%#= link_to 'Edit', edit_lost_path(lost) %>
        <%#= link_to 'Destroy', lost, method: :delete, data: { confirm: 'Are you sure?' } %>
    </section>
    <br/>
  <% end %>

</div>
