<header class="page-header">
  <h3>Users' Chat Room</h3>
</header>
<div class="page-body">
  <div id="chatmain">
    <div id="chat_body">
      <div id="messages">
      </div>
      <form id="send_message" class="chat-form">
        <input type="text" id="message" name="message" autofocus>
        <button>Send</button>
      </form>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'chat' %>