<div class="petPhotos">
  <% @pet_images.each do |image| %>
    
      <div class="petPhotoContainer">
        <%= link_to edit_pet_image_path(image) do %>
          <div class="petPhotoDescription">
            <%= image.description %>
          </div>
          <div class="petPhotoPanel">
            <div class="petPhoto">
              <% if image.photo.persisted? %>
                <%= image_tag image.photo %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    
  <% end %>
</div>

