/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Varela+Round&display=swap');


* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* ::-webkit-scrollbar {
  display: none;
}

.home-image {
  height: 100%;
}

.main-container {
  position: relative;
  margin: auto;
  height: calc(100% - 40px);
  width: 100%;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 1);
  overflow-y: auto;
}

.main-container h1 {
  margin: 0;
}

.main-inner {
  margin: auto;
  height: 100%;
  width: 100%;
  max-width: 400px;
}

.left-border {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(to right, rgba(150, 150, 150, 0.5), rgba(255, 255, 255, 0));
  z-index: 10;
}

.right-border {
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(to left, rgba(150, 150, 150, 0.5), rgba(255, 255, 255, 0));
  z-index: 10;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 0px);
  overflow-y: auto;
}

.dashboard-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0;
  /* margin-bottom: 30px; */
}

.dashboard-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  min-width: 240px;
  /* background-color: burlywood; */
}

.dashboard-button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  min-width: 160px;
  border-radius: 50%;
  box-shadow: 0 0 18px 2px rgba(128, 128, 128, 0.7) inset;
  margin: 30px;
}

.dashboard-button:hover {
  box-shadow: 0 0 18px 2px rgba(128, 128, 128, 0.5) inset, 0 0 18px 2px rgba(128, 128, 128, 0.5);
}

.dashboard-button:active {
  box-shadow: 0 0 18px 2px rgba(128, 128, 128, 0.5) inset;
}

.dashboard-button a {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  color: #379;
  margin-bottom: -60px;
}

.toMyPets {
  background-image: url('pets-company.jpg');

}

.toMyTreatments {
  background-image: url('vet-1.jpg');
}

.toMyAppointments {
  background-image: url('pet-appointments.jpg');
}

.toMyLost {
  background-image: url('lost.jpg');
}

.toMyFound {
  background-image: url('found.jpg');
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: #379;
}

.page-header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid #379;
  height: 40px;
}

.page-header h2,
.page-header h3 {
  display: inline-block;
  padding: 10px;
  color: #379;
  text-align: left;
}

.page-header-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.pageLink {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: medium;
  font-weight: bold;
  color: #379;
  padding: 0 20px;
  height: 100%;
}

.pageLink:hover {
  background-color: #379;
  color: white;
}

.image-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.pencil-bg {
  background-image: url('pencil-blue');
}

.page-body {
  padding: 10px 0;
  height: calc(100% - 40px);
  overflow-y: auto;
  background-color: rgba(225, 225, 225, 0.5);
}

.devise-container {
  padding-left: 10px;
  padding-right: 10px;
}

.main-container input[type="submit"] {
  width: 100%;
}

.main-container label {
  margin-left: 10px;
}

.main-container em {
  margin-left: 10px;
  font-size: small;
  font-style: normal;
  margin-right: 10px;
  display: block;
  text-align: right;
  float: right;
}

.label-exeption {
  display: inline-block;
}

.topLabel {
  color: #ccc;
  padding-top: 2px;
  margin-right: 20px;
  white-space: nowrap;
  font-size: inherit;
  color: #eee;
}

.linkBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkBox a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #eee;
  border-radius: 4px;
}

.linkBox a:hover {
  background-color: #ddd;
}

.linkBox a:active {
  background-color: #bbb;
}
@media only screen and (max-width: 479px) {
  .dashboard-container {
    justify-content: flex-start;
    padding-bottom: 60px;
  }
}

@media only screen and (max-width: 529px) {
  .petDetails {
    margin: 0 10px 10px 10px;
  }
}

@media only screen and (max-width: 768px) {
  .petDetails {
    min-width: 300px;
  }

  .topLabel {
    width: 0;
    display: none;
    visibility: hidden;
  }

  .petPhotoEdit {
    width: 90%;
  }

}

.page-body-msg {
  margin: 30px auto;
  width: 50%;
  min-width: 300px;
}

.page-body-msg * {
  text-align: center;
}

.tipped {
  position: relative;
  overflow: visible;
}
.tipped .tiptext {
  visibility: hidden;
  /* width: 120px; */
  padding: 0 20px;
  /* background-color: #379; */
  background-color: rgba(255, 255, 255, 0.9);
  /* color: white; */
  color: #379;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(50, 50, 50, 0.3);
  font-size: small;
  position: absolute;
  z-index: 20;
  /* top: 100%; */
  /* left: 0; */
  height: 24px;
  white-space: nowrap;
  transition: all 0.1s ease-in-out 0.0s;
}

.tipped:hover .tiptext {
  visibility: visible;
}

.left {
  left: 2px;
}

.right {
  right: 2px;
}

.bottom {
  top: calc(100% + 2px);
}

.top {
  top: 2px
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.0);
  z-index: 100;
  visibility: hidden;
  overflow: auto;
}
