/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Varela+Round&display=swap');


* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* ::-webkit-scrollbar {
  display: none;
}

.home-image {
  height: 100%;
}

.main-container {
  margin: auto;
  height: calc(100% - 40px);
  width: 100%;
  max-width: 800px;
  /* background-color: rgba(90, 90, 90, 0.1); */
}

.main-container h1 {
  margin: 0;
}

.main-inner {
  margin: auto;
  height: 100%;
  width: 100%;
  max-width: 400px;
}

.dashboard-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0 0 0;
}

.dashboard-button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  min-width: 240px;
  border-radius: 50%;
  box-shadow: 0 0 18px 2px rgba(128, 128, 128, 0.7) inset;
  margin-bottom: 30px;
}

.dashboard-button:hover {
  box-shadow: 0 0 18px 2px rgba(128, 128, 128, 0.5) inset, 0 0 18px 2px rgba(128, 128, 128, 0.5);
}

.dashboard-button:active {
  box-shadow: 0 0 18px 2px rgba(128, 128, 128, 0.5) inset;
}

.dashboard-button a {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 32px;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  color: #357;
  margin-bottom: -40px;
}

.toMyPets {
  background-image: url('pets-company.jpg');

}

.toMyTreatments {
  background-image: url('vet-1.jpg');
}

.toMyAppointments {
  background-image: url('pet-appointments.jpg');
}

.main-header {
  display: block;
  padding: 10px;
  color: #357;
  text-align: center;
}

.page-header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 2px solid #357;
  height: 40px;
}

.page-header h2 {
  display: inline-block;
  padding: 10px;
  color: #357;
  text-align: left;
}

.page-header-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.pageLink {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: #357;
  padding: 0 20px;
  height: 100%;
}

.pageLink:hover {
  background-color: #ccc;
}

.page-body {
  padding: 20px 0;
  height: calc(100% - 50px);
  overflow-y: auto;
  background-color: rgba(230, 242, 255, 0.5);
}

.devise-container {
  padding-left: 10px;
  padding-right: 10px;
}

.main-container input[type="submit"] {
  width: 100%;
}

.main-container label {
  margin-left: 10px;
}

.main-container em {
  margin-left: 10px;
  font-size: small;
  font-style: normal;
  margin-right: 10px;
  display: block;
  text-align: right;
  float: right;
}

.label-exeption {
  display: inline-block;
}

.topLabel {
  color: #ccc;
  padding-top: 4px;
  margin-right: 20px;
  white-space: nowrap;
  font-size: inherit;
  color: #eee;
}

.linkBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkBox a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #eee;
  border-radius: 4px;
}

.linkBox a:hover {
  background-color: #ddd;
}

.linkBox a:active {
  background-color: #bbb;
}

@media only screen and (max-width: 768px) {
  .petDetails {
    min-width: 300px;
  }
  .topLabel {
    width: 0;
    display: none;
    visibility: hidden;
  }

  .petPhotoEdit {
    width: 90%;
  }
}

#save_image {
  /* visibility: hidden; */
}

.page-body-msg {
  margin: 30px auto;
  width: 50%;
  min-width: 300px;
}

.page-body-msg * {
  text-align: center;
}
