// Place all the styles related to the Chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#chatmain {
  height: 100%;

  >div#chat_body {
    height: 100%;
    overflow: auto;
    position: relative;

    div#messages {
      height: calc(100% - 40px);
      color: #333;
      overflow: auto;
      display: flex;
      flex-direction: column;
      padding: 0 20px 20px 20px;
      transition: all 0.5s ease-in-out;
      font-size: medium;

      label {
        color: brown;
      }

      p {
        display: inline-block;
        padding: 4px;
        // border-top-left-radius: 10px;
        // border-top-right-radius: 10px;
        margin-bottom: 0;
        margin-top: 0;
        max-width: 70%;
        width: max-content;
        font-size: medium;

        &.received {
          // background-color: chocolate;
          color: #379;
          // border-bottom-right-radius: 10px;
        }

        &.sent {
          // border-bottom-left-radius: 10px;
          // background-color: darkred;
          align-self: flex-end;
          color: brown;
        }

        &.announce {
          align-self: center;
          font-style: italic;
          // color: cyan;

          em {
            font-weight: 700;
            // color: mediumorchid;
          }
        }
      }
    }

    form#send_message {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 10px 20px;
      box-sizing: border-box;
      // margin: auto;

      input {
        height: 30px;
        width: calc(100% - 80px);
        border-radius: 2px;
        border: 0;
      }

      button {
        height: 30px;
        width: 60px;
        margin: 0 4px;
        border-radius: 2px;
        border: 0;
        background-color: #ccc;
        color: #379;
        font-size: medium;
        padding: 4px 10px;
      }
    }

  }
  div#modal {
    height: calc(100vh - 40px);
    position: absolute;
    top: 0;
    background-color: #000000bf;
    width: 100%;
    z-index: 2;
    display: flex;
    // display: none;

    >div {
      width: 300px;
      background: white;
      margin: auto;
      padding: 30px;
      text-align: center;
      height: 150px;
      border-radius: 10px;

      input {
        height: 30px;
        border-radius: 10px;
        border: 2px dotted rebeccapurple;
        width: 100%;
        margin-bottom: 10px;
      }

      button {
        height: 35px;
        border-radius: 20px;
        border: 0;
        background-color: #673AB7;
        color: white;
        width: 80px;
      }
    }
  }
}
