// Place all the styles related to the Pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.petPanel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: 10px 0;
  padding: 10px 0;
  // border: 1px solid #ddd;
  // box-shadow: 0 0 4px 2px #e5f2ff;
  // border-radius: 4px;
  // background-color: #f9ffe6;
  // box-shadow: 0 0 4px 4px rgba(50, 50, 50, 1);
}

.petDetails {
  flex: 1;
  min-width: 400px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  overflow: hidden;
  margin: 0 10px;
}

.petFields {
  // border: 1px solid red;
}

.petLinks {
  // padding: 0 10px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  background-color: #f9ffe6;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.petLinks-right {
  height: 100%;
  display: flex;
}

.petLinks a,
.petLinks-left a,
.petLinks-right a {
  padding: 0 20px;
  display: flex;
  font-size: medium;
  color: #359;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.petLinks a:hover,
.petLinks-right a:hover {
  background-color: #357;
  color: white;
}


.petPanelImage {
  width: 200px;
  min-width: 200px;
  height: 200px;
  // border: 1px solid #ddd;
  // border-radius: 4px;
  margin-right: 10px;
  overflow: hidden;
}

.petPhotos {
  margin: 0 0 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.petPhotoContainer {
  flex: 1;
  width: 30%;
  min-width: 200px;
  max-width: 50%;

  margin: 10px;
  background-color: #e8e8e8;
  padding: 4px;
}

.petPhotoContainer a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-decoration: none;
}

.petPhotoPanel {
  width: 100%;
  // margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.petPhoto {
  width: 100%;
  overflow: hidden;
  background-color: #eee;
}

.petPhotoEdit {
  width: 80%;
  overflow: hidden;
  background-color: #eee;
}

.petPhoto img,
.petPhotoEdit img {
  width: 100%;
}

.petPhotoDescription {
  font-size: large;
  color: #357;
  padding: 10px;
}

#addPetPhotoPanel {
  margin: auto;
  width: 80%;
  border: 1px solid #777;
  border-radius: 4px;
  visibility: hidden;
}

.addPhotoButtonContainer {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pet_image_photo {
  visibility: hidden;
  display: none;
}

#newPhotoFile {
  display: flex;
  justify-items: right;
  align-items: center;
  color: #357;
  font-size: medium;
  padding: 10px;
  color: #359;
  flex: 1;
  text-align: right;
}

#cancelUpdatePetImagePanel {
  visibility: hidden;
  display: none;
}
