body {
  /* background-color: #fff; */
  /* background: linear-gradient(to top right, rgba(100, 100, 100, 0.3), rgba(0, 0, 0, 0)); */
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: hidden;
}

body, p, ol, ul, td {
  /* font-family: verdana, arial, helvetica, sans-serif; */
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  /* line-height: 18px; */
}

div, section, main {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

label {
  display: block;
  color: #357;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 4px;
}

.radio-label {
  font-weight: normal;
  display: inline-block;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="button"],
input[type="submit"],
textarea,
select {
  font-family: inherit;
  font-size: 15px;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 4px;
}

input[type="submit"],
input[type="button"] {
  background-color: #379;
  color: white;
  font-size: medium;
  cursor: pointer;
  padding: 10px 20px;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #59c;
}

input[type="submit"]:active,
input[type="button"]:active {
  box-shadow: 0 0 4px 2px #359;
}

.custom-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  background: url('check-gray.png') no-repeat left 20px center;

  background-size: 24px 24px;
  width: 60px;
  height: 30px;
  margin: 4px;
  cursor: pointer;
}

.custom-checkbox:checked {
  background: url('check-red.png') no-repeat left 20px center;
  background-size: 24px 24px;
}

.my-checkbox:active {
  background-image: url('check-red.png');
}

.my-checkbox:checked:active {
  background-image: url('check-gray.png');
}
  
.top-bar {
  position: sticky;
  top: 0;
  height: 40px;
  background-color: #379;
  font-size: medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar img {
  margin: 0 10px;
}

.top-bar div {
  height: 100%;
  display: flex;
  align-items: center;
}

.top-bar input[type="submit"] {
  display: flex;
  
  border: none;
  background-color: transparent;
  height: 100%;
  font-size: inherit;
  color: white;
  margin: 0 2px;
  cursor: pointer;
  padding: 8px 10px;
  box-sizing: border-box;
  white-space: nowrap;
}

.top-bar input[type="submit"]:hover {
  background-color: #000;
}

.top-bar div a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  padding: 0 10px;
  text-decoration: none;
  height: 100%;
  white-space: nowrap;
}

.top-bar div a:hover {
  background-color: #000;
}

.top-bar div:nth-child(1) {
  justify-content: flex-start;
}

.top-bar div:nth-child(2) {
  justify-content: flex-end;
}

.flex {
  display: flex;
}

.detailsRow {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.itemDetail {
  flex: 1;
  font-size: medium;
  padding: 10px;
  color: #359;
}

.itemDetail input[type="text"],
.itemDetail input[type="email"],
.itemDetail input[type="password"],
.itemDetail input[type="date"],
.itemDetail input[type="button"],
.itemDetail input[type="submit"],
.itemDetail textarea {
  width: 100%;
}

.radio-detail {
  /* height: 40px; */
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
  /* background-color: greenyellow; */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.radio-detail-item {
  display: inline-block;
  min-width: 60px;
  margin: 10px 4px;
}

.radio-detail-item label, 
.radio-detail-item input {
  cursor: pointer;
}

.itemDetail strong {
  display: inline-block;
  width: 80px;
}

.flex-end {
  justify-content: flex-end;
}

a.redText {
  color: #e11;
}

.blueText {
  color: #33e;
}

.brownText {
  color: brown;
}

.flex-start {
  justify-content: flex-start;
}


.col-flex-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.align-right {
  text-align: right;
}

.w100 select {
  width: 100%;
}

div.h100 {
  height: 100%;
}

.home-cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.home-caption {
  padding-top: 10vh;
  font-size: 10vw;
  font-weight: bold;
  height: 100%;
  text-align: center;
  text-shadow: 2px 1px white;
  flex: 1;
  color: #379;
  background-image: url("home-image.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 50% auto;
}

.footer-text {
  font-size: large;
  display: flex;
  padding: 20px;
  background-color: #379;
  color: #ddd;
  /* text-align: center; */
  /* height: 100%; */
}

.user-buttons {
  width: 160px;
  background-color: #379;
  display: flex;
  justify-content: space-between;
}

.user-buttons a {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-buttons a:hover {
  background-color: #999;
}
