table {
  margin: 20px 0;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

th,
td {
  border: 1px solid #555;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: hidden;
}

body, p, ol, ul, td {
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
}

div, section, main {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

label {
  display: block;
  color: #379;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 4px;
}

.radio-label {
  font-weight: normal;
  display: inline-block;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="date"],
form input[type="button"],
form input[type="submit"],
form input[type="datetime-local"],
form input[type="date"],
form input[type="time"],
form textarea,
form select {
  font-family: inherit;
  font-size: 15px;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 4px;
}

form input[type="datetime-local"] {
  padding: 8px;
}

form input[type="submit"],
form input[type="button"] {
  background-color: #379;
  color: white;
  font-size: medium;
  cursor: pointer;
  padding: 10px 20px;
}

form input[type="submit"]:hover,
form input[type="button"]:hover {
  background-color: #59c;
}

form input[type="submit"]:active,
form input[type="button"]:active {
  box-shadow: 0 0 4px 2px #359;
}

.custom-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  background: url('check-gray.png') no-repeat left 20px center;

  background-size: 24px 24px;
  width: 60px;
  height: 30px;
  margin: 4px;
  cursor: pointer;
}

.custom-checkbox:checked {
  background: url('check-red.png') no-repeat left 20px center;
  background-size: 24px 24px;
}

.my-checkbox:active {
  background-image: url('check-red.png');
}

.my-checkbox:checked:active {
  background-image: url('check-gray.png');
}
  
.top-bar {
  position: sticky;
  top: 0;
  height: 40px;
  background-color: #379;
  font-size: medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
}

.top-bar div {
  height: 100%;
  display: flex;
  align-items: center;
}

.top-bar input[type="submit"],
.button_to input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background-color: transparent;
  height: 100%;
  font-size: inherit;
  color: white;
  margin: 0 2px;
  cursor: pointer;
  padding: 8px 10px;
  box-sizing: border-box;
  white-space: nowrap;
}

/* 
.top-bar div a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  padding: 0 10px;
  text-decoration: none;
  height: 100%;
  white-space: nowrap;
}

.top-bar div a:hover {
  background-color: #000;
}

.top-bar div:nth-child(1) {
  justify-content: flex-start;
}

.top-bar div:nth-child(2) {
  justify-content: flex-end;
} */

.top-bar a,
.top-bar button {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.top-bar input[type="submit"]:hover,
.top-bar button:hover,
.top-bar a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.top-bar-link-img {
  width: 40px;
  height: 40px;
}

.top-bar-link-img-30 {
  width: 30px;
  height: 30px;
}

.top-bar-link-img-25 {
  width: 25px;
  height: 25px;
}

.flex {
  display: flex;
}

.detailsRow {
  display: flex;
  border-bottom: 1px solid #ccc;
  flex-wrap: wrap;
}

.itemDetail {
  flex: 1;
  font-size: medium;
  padding: 10px;
  color: #379;
  min-width: 250px;
}

.checkBoxContainer {
  width: 100px;
}

.itemDetail input[type="text"],
.itemDetail input[type="email"],
.itemDetail input[type="password"],
.itemDetail input[type="date"],
.itemDetail input[type="button"],
.itemDetail input[type="submit"],
.itemDetail input[type="datetime-local"],
.itemDetail input[type="date"],
.itemDetail input[type="time"],
.itemDetail textarea,
.selectContainer select {
  width: 100%;
}

.itemDetail textarea {
  resize: vertical;
}

.radio-detail {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.radio-detail-item {
  display: inline-block;
  min-width: 60px;
  margin: 10px 4px;
}

.radio-detail-item label, 
.radio-detail-item input {
  cursor: pointer;
}

.itemDetail strong {
  display: inline-block;
  width: 80px;
}

.flex-end {
  justify-content: flex-end;
}

a.redText {
  color: #e11;
}

.blueText {
  color: #33e;
}

.brownText {
  color: brown;
}

.flex-start {
  justify-content: flex-start;
}


.col-flex-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.align-right {
  text-align: right;
}

.w100 select {
  width: 100%;
}

div.h100 {
  height: 100%;
}

.home-cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.home-caption {
  padding-top: 10vh;
  font-size: 10vw;
  font-weight: bold;
  height: 100%;
  text-align: center;
  text-shadow: 2px 1px white;
  flex: 1;
  color: #379;
  background-image: url("home-image.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 50% auto;
}

.footer-text {
  font-size: large;
  display: flex;
  padding: 20px;
  background-color: #379;
  color: #ddd;
  z-index: 11;
}

.user-buttons {
  width: 160px;
  /* background-color: #379; */
  display: flex;
  justify-content: space-between;
}

.user-buttons a {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-wrap {
  white-space: nowrap;
}
