<header class="page-header">
  <h3>New Appointment</h3>
  <%= link_to 'Back', appointments_path(user_id: @user.id), class: 'pageLink' %>
</header>
<div class="page-body">

  <%= render 'form', appointment: @appointment %>

</div>

<%= javascript_pack_tag 'datetime_new' %>
