<header class="page-header">
  <h3>Edit found animal Photo</h3>
  <%= link_to "Back", edit_found_path(@found_photo.found), class: 'pageLink' %>
</header>

<div class="page-body">
  <div class="petPhotoPanel">
    <div class="petPhotoEdit">
      <% if @found_photo.photo.persisted? %>
        <%= image_tag @found_photo.photo %>
      <% end %>
    </div>
  </div>
  <%= render 'form', found_photo: @found_photo %>
</div>

<% if @found_photo.found.user == current_user %>
  <%= javascript_pack_tag 'pet_edit' %>
<% end %>
