<p id="notice"><%= notice %></p>

<p>
  <strong>Found:</strong>
  <%= @found_photo.found_id %>
</p>

<%= link_to 'Edit', edit_found_photo_path(@found_photo) %> |
<%= link_to 'Back', found_photos_path %>
