<div class="petPhotos">
  <% @lost_photos.each do |image| %>
    
      <div class="petPhotoContainer">
        <%= link_to edit_lost_photo_path(image) do %>
          <div class="petPhotoPanel">
            <div class="petPhoto">
              <% if image.photo.persisted? %>
                <%= image_tag image.photo %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    
  <% end %>
</div>